<!-- HTML -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center" style="background-image: url('https://i.imgur.com/7zJzJfF.jpg'); background-size: cover;">
                <h1>Welcome to my hospital</h1>
                <p>Where your well-being is our top priority</p>
                <button type="button" class="btn btn-primary btn-lg">Login</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img src="https://i.imgur.com/7zJzJfF.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Admin</h5>
                    <a href="#" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="https://i.imgur.com/7zJzJfF.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Doctor</h5>
                    <a href="#" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <img src="https://i.imgur.com/7zJzJfF.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Patient</h5>
                    <a href="#" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>



@*<!-- CSS -->
<style type="text/css">
    .jumbotron {
        margin-bottom: 0;
    }

    .card {
        margin-top: 20px;
    }
</style>

<!-- Bootstrap -->
<link rel="stylesheet" href="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/Authentication.css" />
<link rel="stylesheet" href="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/Authentication.bundle.scp.css" />
<link rel="stylesheet" href="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/Authentication.css" />
<link rel="stylesheet" href="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/Authentication.bundle.scp.css" />
*@